n8n/kyra-memory-writer.workflow.json
{
  "name": "kyra-memory-writer",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kyra-memory",
        "responseMode": "responseNode"
      },
      "id": "kyra-memory-webhook",
      "name": "Kyra Memory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://172.17.0.1:8790/kyra/memory",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ JSON.stringify({ title: $json.body?.title ?? 'Untitled Kyra Memory', content: $json.body?.content ?? $json.body?.memory ?? '', tags: $json.body?.tags ?? ['memory'], source: 'n8n-kyra-memory-webhook' }) }}",
        "options": {
          "response": {
            "responseFormat": "json"
          },
          "timeout": 30000
        }
      },
      "id": "write-memory",
      "name": "Write Kyra Memory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [560, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {
          "responseCode": 201
        }
      },
      "id": "return-memory-path",
      "name": "Return Memory Path",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [880, 300]
    }
  ],
  "connections": {
    "Kyra Memory Webhook": {
      "main": [
        [
          {
            "node": "Write Kyra Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Kyra Memory": {
      "main": [
        [
          {
            "node": "Return Memory Path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}
